{% extends "modelo.html" %}
{% block conteudo %}
    <h1>Sobre a equipe:</h1>
    <p>Este projeto foi desenvolvido para obtenção de nota da 2ª unidade no componente curricular 'Introdução à programação' do professor Messias Batista no curso Sistemas para Internet do UNIESP.</p>
    <p>A equipe é formada por:</p>
    <ul>
        <li>Ana Carolina da Matta Cartaxo</li>
        <li>Ana Paula Ferreira Oliveira</li>
        <li>Anna Luiza Britto de Lima</li>
    </ul>
    <p>Período: P1 | Turno: Noite | Turma: A</p>




{% endblock %}